/* google fonts  */

@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination {
   position: absolute;
   left: 10px;
   transform: translateY(-50%);
}
.swiper-container .swiper-pagination{
    bottom: -30px!important;
}
.swiper-pagination > .swiper-pagination-bullet {
   opacity: 1;
   border: #f4c377 solid 1px;
   background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
   background-color: #a06306;
}

/* body {
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #f0f0f0;
} */

.dot-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(10, 1fr);
   gap: 10px;
}

.dot {
   width:5px;
   height:5px;
   background-color: #d60909;
   border-radius: 50%;
}
